{% extends 'base.html.twig' %}

{% if family is defined %}
    {% set title = 'Modifica "'~family.name~'"' %}
    {% set action = path('family_edit', {id: family.id}) %}
{% else %}
    {% set title = 'Nuova famiglia' %}
    {% set action = path('family_create') %}
{% endif %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-6">
            <h2>{{ title }}</h2>

            {{ form_start(form, {action: action, method: 'POST', attr: {class:'card'}}) }}

                <div class="card-body pb-0">
                    {{ form_row(form.name) }}
                </div>
                <div class="card-footer border-top-0 bg-transparent d-grid">
                    {{ form_widget(form.submit) }}
                </div>
            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}
