<div {{ attributes }}>
    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save',
        }
    }) }}

        {{ form_row(form.value) }}
        {{ form_row(form.child) }}
        {{ form_row(form.date) }}
        {{ form_row(form.notes) }}

        <div class="d-flex justify-content-end">
            {{ form_row(form.submit) }}
        </div>

    {{ form_end(form) }}
</div>
