<div class="modal-dialog" {{ attributes }}>
    <div class="modal-content">
        {{ form_start(form, {
            attr: {
                'data-action': 'live#action:prevent',
                'data-live-action-param': 'save',
                'data-live-child-param': this.child ? this.child.id : null
            }
        }) }}
        <div class="modal-body">
            {%  for message in app.flashes('invitation:success') %}
                <twig:Alert type="success">
                    {{ message }}
                </twig:Alert>
            {% endfor %}

            {%  for message in app.flashes('invitation:error') %}
                <twig:Alert type="danger">
                    {{ message }}
                </twig:Alert>
            {% endfor %}
            <p>Stai per invitare una persona a far parte della famiglia "{{ this.family.name }}" come "{{ this.child ? this.child.name : '' }}". Inserisci la sua email qui sotto per inviargli un link di invito.</p>
            {{ form_row(form.email) }}
        </div>
        <div class="modal-footer d-flex justify-content-end border-top-0">
            <button
                    type="button"
                    class="btn btn-outline-secondary"
                    data-action="live#action"
                    data-live-action-param="close"
            >
                Annulla
            </button>
            {{ form_widget(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>
