{% set user_count = family.users|length %}
{% set child_count = family.children|length %}

<div class="card mb-4" {{ attributes }}>
    <div class="card-body pb-0">
        <a class="card-title" href="{{ path('family_posts', {id: family.id}) }}">
            {{ family.name }}
        </a>
        <div class="row">
            <div class="col-6 card-text">

                {{ user_count }} {{ user_count == 1 ? 'membro' : 'membri' }}
            </div>
            <div class="col-6 text-end">
                <a href="{{ path('children_list', {id: family.id}) }}">
                    {{ child_count }} bimb*
                </a>
            </div>
        </div>
    </div>
    <div class="card-footer border-top-0 bg-transparent d-flex justify-content-between">
        {% if is_granted('edit', family) %}
        <a href="{{ path('family_edit', {id: family.id}) }}" class="btn btn-link">
            <svg>
                <use xlink:href="#edit"></use>
            </svg>
            Modifica
        </a>
        {% endif %}
        {% if is_granted('view', family) %}
        <button
                class="btn btn-link"
                data-action="live#action"
                data-live-action-param="openInvitationForm"
        >
            <svg>
                <use xlink:href="#user-plus"></use>
            </svg>
            Invita
        </button>
        {% endif %}
    </div>
</div>
