<div class="row">
    <div class="col-xs-12">
        {% if timepoint is bodyTemperature %}
            {{ timepoint.child.name }} aveva {{ timepoint.value }}°C di febbre
        {% elseif timepoint is height %}
            {{ timepoint.child.name }} misurava {{ timepoint.value }} cm
        {% elseif timepoint is weight %}
            {{ timepoint.child.name }} pesava {{ timepoint.value }} kg
        {% elseif timepoint is birthday %}
            Nasce {{ timepoint.child.name }}
        {% else %}
            <img src="{{ post_url(timepoint) }}"/>
        {% endif %}
    </div>
</div>
